//- Project

- const projectName = "Responsive Car Website"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["Home", "About", "Popular", "Featured"]

//- Data

-const carData = [{ icon: 'ri-temp-cold-line', number: '24°', name: 'TEMPERATURE' }, { icon: 'ri-dashboard-3-line', number: '873', name: 'MILEAGE' }, { icon: 'ri-flashlight-fill', number: '94%', name: 'BATTERY' }]

//- Cards

-const popularCards = [{ title: "Porsche", subtitle: "Turbo S", img: "popular1.png", price: "$175,900" }, { title: "Porsche", subtitle: "Taycan", img: "popular2.png", price: "$114,900" }, { title: "Porsche", subtitle: "Turbo S Cross", img: "popular3.png", price: "$150,900" }, { title: "Porsche", subtitle: "Boxster 718", img: "popular4.png", price: "$125,900" }, { title: "Porsche", subtitle: "Cayman", img: "popular5.png", price: "$128,900" }]
