//- Project

- const projectName = "Responsive Car Website"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["Home", "About", "Popular", "Featured"]

//- Data

-const carData = [{ icon: 'ri-temp-cold-line', number: '24°', name: 'TEMPERATURE' }, { icon: 'ri-dashboard-3-line', number: '873', name: 'MILEAGE' }, { icon: 'ri-flashlight-fill', number: '94%', name: 'BATTERY' }]

//- Cards

-const popularCards = [{ title: "Porsche", subtitle: "Turbo S", img: "popular1.png", price: "$175,900" }, { title: "Porsche", subtitle: "Taycan", img: "popular2.png", price: "$114,900" }, { title: "Porsche", subtitle: "Turbo S Cross", img: "popular3.png", price: "$150,900" }, { title: "Porsche", subtitle: "Boxster 718", img: "popular4.png", price: "$125,900" }, { title: "Porsche", subtitle: "Cayman", img: "popular5.png", price: "$128,900" }]

-const featuresCards = [{ title: "800v", descr: "Turbo<br />Charging" }, { title: "350", descr: "Km<br />Range" }, { title: "480", descr: "Km<br />Travel" }]

-const featuredCards = [{ title: "Tesla", subtitle: "Model X", img: "featured1.png", price: "$98,900", category: "tesla" }, { title: "Tesla", subtitle: "Model 3", img: "featured2.png", price: "$45,900", category: "tesla" }, { title: "Audi", subtitle: "E-tron", img: "featured3.png", price: "$175,900", category: "audi" }, { title: "Porsche", subtitle: "Boxster 987", img: "featured4.png", price: "$126,900", category: "porsche" }, { title: "Porsche", subtitle: "Panamera", img: "featured5.png", price: "$126,900", category: "porsche" }]

//- Items

-const featuredFilters = [{ text: "All", type: "all" }, { img: "logo3.png", type: ".tesla" }, { img: "logo2.png", type: ".audi" }, { img: "logo1.png", type: ".porsche" }]

-const logoItems = [{ img: "logo1.png" }, { img: "logo2.png" }, { img: "logo3.png" }, { img: "logo4.png" }, { img: "logo5.png" }, { img: "logo6.png" }]
