//- Project

- const projectName = "Responsive Car Website"

//- Path

-const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

-const navLinks = ["Home", "About", "Popular", "Featured"]

//- Data

-const carData = [{ icon: 'ri-temp-cold-line', number: '24°', name: 'TEMPERATURE' }, { icon: 'ri-dashboard-3-line', number: '873', name: 'MILEAGE' }, { icon: 'ri-flashlight-fill', number: '94%', name: 'BATTERY' }]
