// ABOUT
section.about.section#about(data-blur-target)

  // ABOUT CONTAINER
  .about__container.container.grid

    // ABOUT GROUP
    .about__group
      img.about__img(src="@img/about.png", alt="about")

      // ABOUT CARD
      .about__card
        h3.about__card-title 2.500+

        p.about__card-description.
          Supercharges placed along popular routes

    // ABOUT DATA
    .about__data
      h2.section__title.about__title
        |Machines With 
        br 
        |Future Technology

      p.about__description.
        See the future with high-performance electric cars produced by renowned brands. They feature futuristic builds and designs with new and innovative platforms that last a long time.

      a.button(href="#") Know more
