extends ../layouts/page

block head
  +head()
    block links 
      link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet")

block header
  include ../modules/header

block content
  //- include ../modules/content/content
  h2 
    i.ri-home-smile-fill
    |Hello Car Website

  p.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, cum. Asperiores exercitationem veritatis soluta assumenda eligendi?

block footer
  include ../modules/footer
