// Modules

@use '../plugins/plugins-dir' as plugins

/* LOGOS

.logos__container
  grid-template-columns: repeat(3, max-content)
  justify-content: center
  align-items: center
  gap: 4rem
  +plugins.padding(null null 2rem)

.logos__img
  width: 40px
  transition: .3s
  opacity: .4

  &:hover
    opacity: 1
